<li>
    <% if((locals.user.id == post.user.id)||(locals.user.id == comment.user._id)){ %>
        <a href="/comment/destroy/<%= comment.id %>">X</a>
    <% } %>


    <%= comment.content %> <br>
    <small>
       <a href="/users/profile/<%= comment.user._id %>"><%= comment.user.name %></a> 
    </small>
</li>