<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In</title>
    <link rel="icon" href="../uploads/picture-1590430559977" type="image/x-icon">
    <link rel="stylesheet" href="/css/signUp.css">

</head>
<body>
    
    <header>
        <div style="margin-top: 20px; " id="logo">
            <img  src="../uploads/picture-1590430208540" alt="logo">
        </div>
        <div>
            <h1>
                noteal
            </h1>
        </div>
    </header>



    <div id="page-area">
        <div id="area-used">
            <div id="changing-image">
                <img  src="../uploads/picture-1590399816613" alt="Iphone's image">
            </div>
            <div id="signup-form">

                
                
                <form action="/users/create-session" method="POST">
                    <div>
                        <h3>Sign In form </h3>
                    </div>

                        <div class="input-1">
                            <input type="email" id="name-input" autocomplete="off" name="email"  required>
                            <label for="name-input" class="label-name" >
                                <span class="content-name">
                                    E-mail
                                </span>
                            </label>
                            
    
                        </div>

                        <div class="input-1">
                            <input type="password" id="pass-input" autocomplete="off" name="password"  required>
                            <label for="pass-input" class="label-name" >
                                <span class="content-name">
                                    Password
                                </span>
                            </label>
                            
    
                        </div>

                        
                        <div>
                            <label  id="submit-label" for="submit">Sign In</label>
                            <input id="submit" type="submit">

                        </div>

                        <div>
                            <span style="font-size: 12px;"> Don't have an account?</span>
                            <a style="text-decoration:none;  color:#6bc4f8;" href="/users/sign-up">Sign Up</a>
                        </div>

                         
                        <div>
                            <span style="margin-right:25px ; font-size: 12px;"> or </span>
                            <a style="text-decoration:none; color:#6bc4f8;" href="/users/auth/google">Sign-in via google</a>

                        </div>
    
                    </div>
                </form>
    
    
            </div>
        </div>
    </div>

    
    <footer>
        <div>
            <h4>
                About
            </h4>
            
        </div>
        <div>
            <h4>
                Contact Us
            </h4>

        </div>
        <div>
            <h4>
                Privacy Policy
            </h4>

        </div>
        <div>
            <h4>&copy; 2020 </h4>
            
        </div>
    </footer>





    
</body>
</html>