<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In</title>
</head>
<body>

    <form action="/users/create-session" method="POST">
    
    <input type="email" name="email" placeholder="Your email" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    
    <button type="submit">Sign In</button>
    <a style="text-decoration:none;" href="/users/sign-up">Sign Up</a>
    </form>
    <a href="/users/auth/google">Sign-in via google</a>
    
</body>
</html>